<!DOCTYPE html>
<html>

<head>
    <title>WEB700</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/theme.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Ritesh Saxena</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
                <li class="nav-item"><a class="nav-link" href="/employees/add">Add Employee</a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/employees">Employees</a></li>
                <li class="nav-item"><a class="nav-link" href="/managers">Managers</a></li>
                <li class="nav-item"><a class="nav-link" href="/departments">Departments</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <main class="col-md-12">



                <h1><i>Welcome to my website</i></h1>
                <h3>I will be demonstrating HTML5 principles and techniques, Routing in Express etc.</h3><br>
                <header><b>Introduction of my website:</b></header>
                <p>This site consists of 3 static views (Home, About, HTML Demo) as well as 5 routes that supply 
                    data , including: All Employees, Employees by Department, A Single Employee By 
                    Employee Number, All Managers and All Departments.
                <ul>
                    <li><a href="http://localhost:8080/employees" target="_blank">All employees</a></li>
                    <li><a href="http://localhost:8080/employees?department=3" target="_blank">Employees by Department</a></li>
                    <li><a href="http://localhost:8080/employees/3" target="_blank">A Single Employee By Employee Number</a></li>
                    <li><a href="http://localhost:8080/managers" target="_blank">All Managers</a></li>
                    <li><a href="http://localhost:8080/departments" target="_blank">All Departments</a></li>
                    </ul>
                <br>
                <header><b>Introduction for HTML5 :</b></header>
                <p>This site utilizes HTML5: a markup language used for structuring and presenting content on the World Wide Web
                    It is the fifth and latest major version of HTML that is a World Wide Web Consortium (W3C) recommendation.
                    For the same reasons, HTML5 is also a candidate for cross-platform mobile applications, because it includes features 
                    designed with low-powered devices in mind.HTML 5 introduces elements and attributes that reflect typical usage on 
                    modern websites.<br>
                   For more information about HTML5 click on: <a href="https://en.wikipedia.org/wiki/HTML5" target="_blank">HTML5</a>
                </p>



                <!-- End your code here  -->



            </main>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>